<div class="navbar">
    <a class="active" href="/lists">My Lists</a>
    <a href="/lists/new">Create New List</a>
    <a href="/lists/all">All Lists</a>
    <a href="/logout">Logout</a>
</div>

<h2>Hi <%= @user.first_name.capitalize %>! Here are all your lists:</h2>

<% @user.lists.each do |list| %>
    <h3><a href="/lists/<%= list.id %>"><%= list.list_title %></a></h3>
    <p>Created on <%= list.created_at.strftime("%A, %b %d, %Y") %></p> 
    
    <a href="/lists/<%= list.id %>/edit" class="waves-effect waves-light btn-small orange black-text"> Edit List </a> <br><br>

    <form action="/lists/<%= list.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <a class="waves-effect waves-light btn-small orange"><input type="submit" value="Delete List"></a>
    </form>
<% end %>

<br>

<a href="/lists/new">Create a new List</a>
<br>
<a href="/logout">Log Out</a>
