<div class="navbar">
    <a href="/lists">My Lists</a>
    <a href="/lists/new">Create New List</a>
    <a href="/lists/all">All Lists</a>
    <a href="/logout">Logout</a>
</div>

<h2><%= @list.list_title %></h2>
<ul>
    <% @list.list_items.each do |list| %>
        <li><%= list.item %></li>
    <% end.reverse %>
</ul><br>

List created on <%= @list.created_at.strftime("%A, %b %d, %Y") %> <br>
<% if @list.updated_at != @list.created_at %>
    List Title updated on <%= @list.updated_at.strftime("%A, %b %d, %Y") %><br>
<% end %>

<% if i = @list.list_items.find {|item| item.created_at != item.updated_at} %>
    List Items updated on <%= i.updated_at.strftime("%A, %b %d, %Y") %><br>
<% end %>

<br><a href="/lists/<%= @list.id  %>/edit" class="waves-effect waves-light btn-small orange black-text">Edit List</a><br><br>
<form action="/lists/<%= @list.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <a class="waves-effect waves-light btn-small orange"><input type="submit" value="Delete List" id="effect"></a>
</form>
